.rbc-calendar {
    overflow-x: scroll;
}

.rbc-month-view,
.rbc-time-view {
    width: auto;
    min-width: 48rem;
}

.rbc-event {
    background-color: var(--primary) !important;
    font-size: 0.875rem;
}

.rbc-sticky-toolbar {
    position: sticky;
    left: 0;
    z-index: 10;
    width: 100%;
}

.rbc-time-slot {
    font-weight: 300 !important;
    color: var(--foreground);
}

.rbc-off-range-bg {
    background-color: var(--muted) !important;
}

@media (width >=48rem) {
    .rbc-calendar {
        overflow-x: visible;
    }
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
